.introduction {
    display: flex;
    column-gap: 10px;
    margin-top: 20px;
}

.introduction .left {
    flex: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 0px 20px; */
    background: url(../../assets/images/intro.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}

.introduction .left h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 2;
    font-family: "arvbolditalic";
    text-align: center;
}

.introduction .left p {
    width: 70%;
}

.introduction .right {
    flex: 50%;
    height: 500px;
    width: 100%;
    position: relative;
    /* background: yellow; */
}

.introduction .right img {
    object-fit: cover;
    width: 210px;
    height: 160px;
}

.introduction .right img:hover {
    z-index: 999;
}

.introduction .right .img1 {
    position: absolute;
    top: 0px;
    left: 0px;
}

.introduction .right .img2 {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
}

.introduction .right .img3 {
    position: absolute;
    top: 0px;
    right: 0px;
}

.introduction .right .img4 {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
}

.introduction .right .img5 {
    width: 300px;
    height: 270px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.introduction .right .img5:hover {
    border: 10px solid #000;
}

.introduction .right .img6 {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.introduction .right .img7 {
    position: absolute;
    bottom: 0;
    left: 0;
}

.introduction .right .img8 {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
}

.introduction .right .img9 {
    position: absolute;
    bottom: 0;
    right: 0;
}

/* responsive */
@media only screen and (min-device-width: 300px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
    .introduction {
        flex-direction: column;
        height: 100vh;
        row-gap: 10px;
    }


    .introduction .right img {
        object-fit: cover;
        width: 100px;
        height: 100px;
    }

    .introduction .right .img5 {
        width: 200px;
        height: 200px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }
}