.search_page .list_item {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 10px;
    row-gap: 10px;
}

.search_page .search_title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}

.search_page .filter_group {
    display: flex;
    column-gap: 13px;
}

.search_page .filter_product select {
    /* Reset Select */
    appearance: none;
    outline: 0;
    border: 0;
    box-shadow: none;
    /* Personalize */
    flex: 1;
    padding: 0 1em;
    color: #000;
    border: 1px solid #000;
    cursor: pointer;
}

/* Remove IE arrow */

.search_page .filter_product select::-ms-expand {
    display: none;
}

/* Custom Select wrapper */

.search_page .filter_product {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    overflow: hidden;
    margin-bottom: 10px;
}

/* Arrow */

.search_page .filter_product::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    /* background-color: 000; */
    transition: .25s all ease;
    pointer-events: none;
}

/* Transition */

.search_page .filter_product:hover::after {
    color: #f39c12;
}

/* responsive */

@media only screen and (min-device-width: 300px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {

    .search_page .list_item {
        row-gap: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px 10px;
    }

    .search_page .filter_product {
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .search_page .filter_group {
        flex-direction: column;
    }
}