.product_item {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 450px;
    position: relative;
    background-color: #AE7B4E;
    border: 5px solid #AE7B4E;
}

.product_item .product_description {
    padding: 10px 10px 20px 10px;
    color: #000;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.product_item .product_detail {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #000;
    color: #fff;
    padding: 10px 15px;
    cursor: pointer;
    display: none;
}

.product_item:hover .product_detail {
    display: block;
}

.product_item .product_image {
    width: 100%;
    height: 50%;
}

.product_item .product_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product_item .product_infor {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.product_item .product_description .product_name {
    font-size: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    text-transform: capitalize;
    font-weight: bold;
}

.product_item .product_description .product_price {
    font-weight: bold;
    margin-bottom: 10px;
}

.product_item .product_description .product_infor {
    font-size: 16px;
}

.product_item .product_button_add {
    border: 1px solid black;
    display: block;
    background: none;
    padding: 5px 15px;
    margin-top: auto;
    outline: none;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.product_item .product_button_add:hover {
    background: #000;
    color: #fff;
}

.product_item .product_modal {
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    height: 100%;
}

.product_item .product_modal .description {
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.product_item .product_modal .group_image {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
}

.product_item .product_modal img {
    width: 400px;
    height: 300px;
    object-fit: cover;
}

.product_item .product_modal .name {
    font-size: 22px !important;
    text-align: center;
}

.product_item .product_modal .close {
    padding: 10px 25px;
    background-color: #000;
    color: #fff;
    border: none;
    margin: 0 auto;
    margin-top: auto;
}