.admin_product_category {
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
}

.admin_product_category .admin_product_category_header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 10px;
    column-gap: 10px;
}

.admin_product_category .admin_product_category_header .admin_product_category_title {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.admin_product_category .admin_product_category_header .admin_product_category_new {
    padding: 10px;
    border: 1px solid #000;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}

.admin_product_category .admin_product_category_header .admin_product_category_new:hover {
    background: #000;
    color: #fff;
}

.admin_product_category .admin_product_category_main_list {
    height: 75vh;
    width: 100%;
    overflow-y: scroll;
}

.admin_product_category .admin_product_brand_main_list::-webkit-scrollbar {
    display: none;
}

.admin_product_category .product_pagination {
    position: absolute;
    bottom: 0;
    right: 0;
}

.admin_product_category .btn {
    cursor: pointer;
    margin-bottom: 10px;
    background: #000;
    color: #fff;
    margin-right: 10px;
}