.form_register{
    margin-top: 10px;
    margin-bottom: 15px;
    text-transform: uppercase;
    padding: 0px 10px !important;
}
.form_register .register__title{
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.form_register .new_customer{
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;


}
.form_register .new_infor{
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;


}
.form_register .form-group{
    margin-bottom: 15px;
}
.form_register .btn_register{
    padding: 7px 20px;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
}
.form_register .btn_register:hover{
    background-color: #AE7B4E;
    color: #000;
}