.products {
    width: 100%;
}

.products .destop {
    display: block;
    margin-top: 20px;
}

.products .list_products_slider {
    height: 400px;
}

.products .product_title {
    font-size: 24px;
    text-transform: uppercase;
}

/* responsive */
@media screen and (min-device-width: 350px) and (max-device-width: 768px) {}