.header{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 400;
    font-family: "extrab";
}
.header .show_icon{
    display: none;
}
.header .hambuger{
    display: none;
}
.header_left{
    height: 100%;
}
.header_right{
    height: 100%;
}
.header ul{
    height: 100%;
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.header ul li{
    line-height: 40px;
}
.header ul li:hover{
    text-decoration: underline;
    cursor: pointer;
    color: burlywood;
}
/* responsive */
@media screen and (min-device-width: 375px) and (max-device-width: 768px) { 
    .header{
        flex-direction: column;
        height: 100%;
        width: 100%;
        position: relative;
    }
    .header .show_icon{
        display: block;
    }
    .header .hambuger{
        display: block;
        font-size: 24px;
        position: absolute;
        top: 10px;
        left: 10px;
    }
    .header .header_left--menu{
        flex-direction: column;
    }
}