.list_bill {
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    height: 93vh;
    row-gap: 10px;
}


.list_bill .bill_filter {
    margin: 15px 0px;
    display: flex;
    justify-content: space-between;
}

.list_bill .bill_title {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.list_bill .admin_bill_list {
    overflow-y: scroll;
    height: 70vh;
}

.list_bill .admin_bill_list::-webkit-scrollbar {
    display: none;
}

.list_bill .btn {
    background-color: #000;
    color: #fff;
}

.list_bill .paginate_bill {
    position: absolute;
    bottom: 0;
    right: 0;
}

.list_bill .refresh {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    font-size: 14px;
    border: 1px solid #000;
    width: 80px;
    cursor: pointer;
    border-radius: 5px
}

.list_bill .refresh:hover {
    background-color: #000;
    color: #fff;
}