.search_from_admin {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_from_admin .form input {
    float: left;
}

.search_from_admin .form input {
    border: 1px solid #000;
    outline: none;
    height: 4vh;
    width: 500px;
    padding: 0px 20px;
}

.search_from_admin .form input::placeholder {
    color: #000 !important;

}