.product_item {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 380px;
    position: relative;
    background-color: #AE7B4E;
    border: 5px solid #AE7B4E;
}

.product_item .product_description .product_brand {
    color: #fff;
}

.product_item .product_description {
    padding: 10px 10px 20px 10px;
    color: #000;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.product_item .product_detail {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #000;
    color: #fff;
    padding: 10px 15px;
    cursor: pointer;
    display: none;
}

.product_item:hover .product_detail {
    display: block;
}

.product_item .product_image {
    width: 100%;
    height: 50%;
}

.product_item .product_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product_item .product_infor {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.product_item .product_description .product_name {
    font-size: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    text-transform: capitalize;
    font-weight: bold;
}

.product_item .product_description .product_stock {
    font-weight: bold;
}

.product_item .product_description .product_price {
    font-weight: bold;
    margin-bottom: 10px;
    color: #fff;
    text-transform: uppercase;
}

.product_item .product_description .product_infor {
    font-size: 16px;
}

.product_item .product_button_add {
    border: 1px solid #000 !important;
    display: block;
    background: none;
    padding: 5px 15px;
    margin-top: auto;
    outline: none;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.product_item .product_button_add:hover {
    background: #000;
    color: #fff;
}

.product_item .product_modal {
    padding: 10px;
    display: flex;
    column-gap: 20px;
    height: 100%;
    width: 100%;
}

.product_item .product_modal .modal_group_image {
    display: flex;
    flex: 50%;
    flex-direction: column;
    row-gap: 10px;
    height: 100%;
}



.product_item .product_modal .modal_group_image .display {
    border: 1px solid #000;
    border-radius: 5px;
}

.product_item .product_modal .modal_group_image .display img {
    height: 500px;
    width: 100%;
    object-fit: contain;
}

.product_item .product_modal .modal_group_image .list {
    display: flex;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
}

.product_item .product_modal .modal_group_image .list img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border: 1px solid #000;
}

.product_item .product_modal .infor {
    flex: 50%;
    height: 85%;
}

.product_item .product_modal .infor .description {
    height: 50%;
    overflow-y: scroll;
}

.product_item .product_modal .infor .description::-webkit-scrollbar {
    display: none;
}

.product_item .product_modal .infor {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.product_item .product_modal .infor .name {
    font-size: 18px;
    font-weight: bold;
}

.product_item .product_modal .infor .price {
    color: #AE7B4E;
    font-weight: bold;
}

.product_item .product_modal .infor .add_cart {
    text-align: center;
    width: 150px;
    padding: 10px 0px;
    margin: 0 auto;
    margin-top: auto;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

.product_item .product_modal .close {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 5px 10px;
    border: none !important;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

@media screen and (min-device-width: 768px) and (max-device-width: 1190px) {}