.product_item{
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 100%;
    position: relative;
}
.product_item .product_detail{
    position: absolute;
    right: 0;
    top: 0;
    background-color: #000;
    color: #fff;
    padding: 10px 15px;
    cursor: pointer;
    display: none;
}
.product_item:hover .product_detail{
    display: block;
}
.product_item .product_image{
    width: 100%;
    height: 60%;
    border: 1px solid #AE7B4E;
}

.product_item .product_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.product_item .product_description{
    padding: 10px;
    flex: 1;
    background-color: #AE7B4E;
    color: #000;
    font-family: "";
    margin-top: auto;
}
.product_item .product_description .product_name{
    font-size: 20px;
    display:-webkit-box;
    -webkit-line-clamp:1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}
.product_item .product_description .product_price{
    font-weight: bold;
}
.product_item .product_description .product_infor{
    font-size: 16px;
    /* color: gray; */
}
.product_item .product_description .product_button{
    border: 1px solid black;
    display: block;
    background: none;
    padding: 5px 15px;
    margin-top: 10px;
    outline: none;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.product_item .product_description .product_button:hover{
    background: #000;
    color: #fff;
}

.product_item .product_modal{
    padding: 10px;
    text-align: center;
}

.product_item .product_modal .name{
    font-size: 22px !important;
    text-align: center;
}   
.product_item .product_modal .close{
    padding: 10px 25px;
    background-color: #000;
    color: #fff;
    border: none;
}