.admin_product {
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    height: 93vh;
    row-gap: 10px;
}

.admin_product .admin_product_search form input {
    float: right;
}

.admin_product .admin_product_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
    height: 5vh;
}

.admin_product .admin_product_header .admin_product_title {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.admin_product .admin_product_header .admin_product_new {
    border: 1px solid #000;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    height: 100%;
    line-height: 5vh;
    width: 200px;
    text-align: center;
}

.admin_product .admin_product_header .admin_product_new:hover {
    background: #000;
    color: #fff;
}

.admin_product .admin_product_main_list {
    height: calc(100vh - 12vh);
    width: 100%;
    overflow: scroll;
    scrollbar-width: none;
}

.admin_product .admin_product_main_list::-webkit-scrollbar {
    display: none;
}

.admin_product .product_pagination {
    position: absolute;
    bottom: 0;
    right: 0;
}