.admin_product{
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
}
.admin_product .admin_product_header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 10px;
    column-gap: 10px;
}

.admin_product .admin_product_header .admin_product_title{
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.admin_product .admin_product_header .admin_product_new{
    padding: 10px;
    border: 1px solid #000;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}

.admin_product .admin_product_header .admin_product_new:hover{
    background: #000;
    color: #fff;
}

.admin_product .admin_product_main_list{
    height: 75vh;
    width: 100%;
    overflow: scroll;
}
.admin_product .admin_product_main_list::-webkit-scrollbar{
    display: none;
}

.admin_product .product_pagination{
    position: absolute;
    bottom: 0;
    right: 0;
}
.admin_product .btn{
    cursor: pointer;
    margin-bottom: 10px;
    background: #000;
    color: #fff;
}
.admin_product_main_list .group_image{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.admin_product_main_list .group_image img{
    width: 60px;
    height: 60px;
    object-fit: cover;
}
